{% extends "base.html" %}

{% block title %} Bank Reconciliation {% endblock %}

{% block content %}

    <div class="white-box">
		<h1 class="text-center">Bank Reconciliation</h1>

		<p>Our bank reconciliation app simplifies the process of matching your accounting transactions with your bank statement, saving you time and reducing the risk of errors.
            Connect your accounts and let our app handle the rest, so you can focus on what really matters - growing your business.</p>

        <hr>

        <a class="btn btn-primary" href="{{ url_for('import_records') }}">New Reconciliation</a>
        <a class="btn btn-primary">Reconciliation Reports</a>
	</div>

{% endblock %}